
.wrapper{
  max-width: 600px;
  width: 100% !important;

  .header{
    button{
      top: 15px;
    }
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .info{
  .label{
    display: flex;
    gap: 10px;
  }

    margin-bottom: 30px;
  }
}